<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Essential packages from https://chocolatey.org/ -->
  <!--<package id="windows-sdk-10.1" />-->
  <package id="visualfsharptools" />
  <package id="netfx-4.7.2-devpack" />
  <package id="dotnet" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <package id="linqpad" />
  <package id="gitextensions" />
  <package id="putty" />
  <package id="winscp" />
  <package id="nuget.commandline" />
  <package id="7zip" />
  <package id="googlechrome" />
  <package id="fiddler" />
  <!-- <package id="markdownpad2" /> -->
  <package id="firacode" />
  <package id="kdiff3" />
  <package id="sql-server-management-studio" />
  <package id="onedrive" />
  <package id="visualstudio2019community" />

  <package id="ilspy" />
  <package id="nodejs" />
  <package id="skype" />
  <package id="SkypeForBusiness" />
  <package id="windowsazurelibsfornet" />
  <package id="firefox" />
  <package id="winmerge" />
  <package id="nugetpackageexplorer" />
  <package id="paket.powershell" />
  <package id="xunit" />
  <package id="specflow" />
  <package id="windbg" />
  <package id="fxcop" />
  <package id="testdriven.net" />
</packages>




