source https://www.nuget.org/api/v2

// Server side, F# .NET:
nuget FAKE
nuget FSharp.Formatting
nuget FSharp.Data
nuget Microsoft.AspNet.SignalR.Core
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.AspNet.Identity.Owin
nuget Microsoft.Owin.Cors
nuget Microsoft.Owin.StaticFiles
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Security.Facebook
nuget Microsoft.Owin.Security.Google
nuget Owin.Security.AesDataProtectorProvider
nuget MySql.Data
nuget Rx-Main
nuget SQLProvider
nuget SourceLink.Fake
// Testing frameworks:
// nuget canopy
// nuget FsUnit.xUnit
// nuget xunit.core
// nuget xunit.abstractions
// nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
// nuget xunit.runner.console
// nuget PhantomJS

// Client side, Javascript: (Please use minified, save some build time)
github zurb/bower-foundation css/foundation.css
github zurb/bower-foundation css/normalize.css
github zurb/bower-foundation js/foundation.min.js
github SignalR/bower-signalr jquery.signalR.js
github aFarkas/html5shiv dist/html5shiv.min.js
// Use react.js to debug, react.min.js in production.
github reactjs/react-bower react.min.js
github reactjs/react-bower react-dom.min.js
github FortAwesome/Font-Awesome css/font-awesome.min.css
github FortAwesome/Font-Awesome fonts/fontawesome-webfont.eot
github FortAwesome/Font-Awesome fonts/fontawesome-webfont.svg
github FortAwesome/Font-Awesome fonts/fontawesome-webfont.ttf
github FortAwesome/Font-Awesome fonts/fontawesome-webfont.woff
github FortAwesome/Font-Awesome fonts/fontawesome-webfont.woff2
github lodash/lodash dist/lodash.min.js
// other possible:
// danielm/uploader booncon/slippry janl/mustache.js shutterstock/rickshaw

//Typescript definitions
github borisyankov/DefinitelyTyped foundation/foundation.d.ts
github borisyankov/DefinitelyTyped react/react.d.ts
github borisyankov/DefinitelyTyped react/react-dom.d.ts
github borisyankov/DefinitelyTyped react/react-addons-create-fragment.d.ts
github borisyankov/DefinitelyTyped react/react-addons-css-transition-group.d.ts
github borisyankov/DefinitelyTyped react/react-addons-linked-state-mixin.d.ts
github borisyankov/DefinitelyTyped react/react-addons-perf.d.ts
github borisyankov/DefinitelyTyped react/react-addons-pure-render-mixin.d.ts
github borisyankov/DefinitelyTyped react/react-addons-test-utils.d.ts
github borisyankov/DefinitelyTyped react/react-addons-transition-group.d.ts
github borisyankov/DefinitelyTyped react/react-addons-update.d.ts
github borisyankov/DefinitelyTyped react/react-global.d.ts
github borisyankov/DefinitelyTyped lodash/lodash.d.ts
github borisyankov/DefinitelyTyped jquery/jquery.d.ts 
github borisyankov/DefinitelyTyped jqueryui/jqueryui.d.ts
github borisyankov/DefinitelyTyped signalr/signalr.d.ts
github borisyankov/DefinitelyTyped google.analytics/ga.d.ts 
// github borisyankov/DefinitelyTyped googlemaps/google.maps.d.ts
// github borisyankov/DefinitelyTyped mustache/mustache.d.ts

http http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js jquery.min.js
http https://code.jquery.com/ui/1.10.4/jquery-ui.min.js
http https://code.jquery.com/ui/1.10.4/themes/sunny/jquery-ui.min.css
