source https://www.nuget.org/api/v2
framework >= 4.0

// Server side, F# .NET:
nuget FSharp.Data
nuget Microsoft.AspNet.SignalR.Core
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.AspNet.Identity.Owin
nuget Microsoft.Net.Http
nuget Microsoft.Owin.Cors
nuget Microsoft.Owin.StaticFiles
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Security.Facebook
nuget Microsoft.Owin.Security.Google
nuget Owin.Compression
nuget Owin.Security.AesDataProtectorProvider
nuget MySql.Data
// nuget System.Reactive
nuget SQLProvider
nuget Logary
nuget Kentor.OwinCookieSaver
nuget FSharp.Core

// Client side, Javascript: (Please use minified, save some build time)
group Clientside
  source https://nuget.org/api/v2
  github zurb/bower-foundation css/foundation.css
  github zurb/bower-foundation css/foundation.min.css
  github zurb/bower-foundation css/normalize.css
  github zurb/bower-foundation js/foundation.min.js
  github SignalR/bower-signalr jquery.signalR.js
  github aFarkas/html5shiv dist/html5shiv.min.js
  github reactjs/react-bower react.js
  github reactjs/react-bower react.min.js
  github reactjs/react-bower react-dom.min.js
  github FortAwesome/Font-Awesome css/font-awesome.min.css
  github FortAwesome/Font-Awesome fonts/fontawesome-webfont.eot
  github FortAwesome/Font-Awesome fonts/fontawesome-webfont.svg
  github FortAwesome/Font-Awesome fonts/fontawesome-webfont.ttf
  github FortAwesome/Font-Awesome fonts/fontawesome-webfont.woff
  github FortAwesome/Font-Awesome fonts/fontawesome-webfont.woff2
  github Reactive-Extensions/RxJS dist/rx.lite.min.js
  // other possible:
  // danielm/uploader booncon/slippry janl/mustache.js shutterstock/rickshaw

  http http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js jquery.min.js
  http http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.map jquery.min.map
  http https://code.jquery.com/ui/1.11.4/jquery-ui.min.js
  http https://code.jquery.com/ui/1.11.4/themes/sunny/jquery-ui.min.css
  http https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js
  http https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css
  http https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js
  http https://raw.githubusercontent.com/lodash/lodash/4.17.4/dist/lodash.min.js

//Typescript definitions
group Typescript
  source https://nuget.org/api/v2
  github borisyankov/DefinitelyTyped foundation/foundation.d.ts
  github borisyankov/DefinitelyTyped react/react.d.ts
  github borisyankov/DefinitelyTyped react/react-dom.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-create-fragment.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-css-transition-group.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-linked-state-mixin.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-perf.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-pure-render-mixin.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-test-utils.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-transition-group.d.ts
  github borisyankov/DefinitelyTyped react/react-addons-update.d.ts
  github borisyankov/DefinitelyTyped react/react-global.d.ts
  github borisyankov/DefinitelyTyped lodash/lodash.d.ts
  github borisyankov/DefinitelyTyped jquery/jquery.d.ts
  github borisyankov/DefinitelyTyped jqueryui/jqueryui.d.ts
  github borisyankov/DefinitelyTyped signalr/signalr.d.ts
  github borisyankov/DefinitelyTyped google.analytics/ga.d.ts
  github borisyankov/DefinitelyTyped rx/rx.lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx-lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx.async-lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx.binding-lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx.time-lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx.backpressure-lite.d.ts
  github borisyankov/DefinitelyTyped rx/rx.coincidence-lite.d.ts

  // github borisyankov/DefinitelyTyped googlemaps/google.maps.d.ts
  // github borisyankov/DefinitelyTyped mustache/mustache.d.ts

group Build
  source https://nuget.org/api/v2
  framework >= 4.0
  nuget FAKE
  nuget FSharp.Configuration

// Testing frameworks:
//group Test
//  source https://nuget.org/api/v2
//  framework >= 4.0
//
//  nuget canopy
//  nuget FsUnit.xUnit
//  nuget xunit.core
//  nuget xunit.abstractions
//  nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
//  nuget xunit.runner.console