group Server
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core
    nuget FSharp.Data
    nuget FSharp.Data.JsonProvider.Serializer
    nuget Microsoft.Data.SqlClient
    nuget Microsoft.Net.Http.Headers 8.0.15
    nuget Owin.Compression
    nuget Microsoft.AspNetCore.Authentication.JwtBearer 8.0.15
    nuget SQLProvider.MsSql
    nuget Microsoft.AspNetCore.SignalR
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson
    // nuget SQLProvider
    nuget Oxpecker
    nuget Oxpecker.OpenApi
    nuget Microsoft.Extensions.Hosting.WindowsServices
    nuget Destructurama.FSharp
    nuget Logari
    nuget Serilog.Extensions.Logging
    nuget Serilog.Sinks.ApplicationInsights
    nuget Serilog.Sinks.Console
    nuget Serilog.Sinks.File

group Clientside
  source https://api.nuget.org/v3/index.json
  github zurb/bower-foundation css/foundation.css
  github zurb/bower-foundation css/foundation.min.css
  github zurb/bower-foundation css/normalize.css
  github zurb/bower-foundation js/foundation.min.js
  github aFarkas/html5shiv dist/html5shiv.min.js
  github FortAwesome/Font-Awesome:4.x css/font-awesome.min.css
  github FortAwesome/Font-Awesome:4.x fonts/fontawesome-webfont.eot
  github FortAwesome/Font-Awesome:4.x fonts/fontawesome-webfont.svg
  github FortAwesome/Font-Awesome:4.x fonts/fontawesome-webfont.ttf
  github FortAwesome/Font-Awesome:4.x fonts/fontawesome-webfont.woff
  github FortAwesome/Font-Awesome:4.x fonts/fontawesome-webfont.woff2
  github Reactive-Extensions/RxJS dist/rx.lite.min.js
  github furf/jquery-ui-touch-punch jquery.ui.touch-punch.min.js
  // other possible:
  // danielm/uploader booncon/slippry janl/mustache.js shutterstock/rickshaw
  http https://cdn.jsdelivr.net/npm/@microsoft/signalr@7.0.12/dist/browser/signalr.js signalr.js
  http https://cdn.jsdelivr.net/npm/@microsoft/signalr@7.0.12/dist/browser/signalr.min.js signalr.min.js
  http https://cdn.jsdelivr.net/npm/signalr@2.4.3/jquery.signalR.js jquery.signalR.js
  http https://cdn.jsdelivr.net/npm/signalr@2.4.3/jquery.signalR.min.js jquery.signalR.min.js
  http https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js jquery.min.js
  http https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.map jquery.min.map
  http https://code.jquery.com/ui/1.12.1/jquery-ui.min.js
  http https://code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.min.css
  http https://unpkg.com/tether@1.2.4/dist/js/tether.min.js
  http https://ajax.aspnetcdn.com/ajax/bootstrap/5.2.3/css/bootstrap.min.css
  http https://ajax.aspnetcdn.com/ajax/bootstrap/5.2.3/bootstrap.min.js
  http https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
  http https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js
  http https://unpkg.com/react@17/umd/react.production.min.js
  http https://unpkg.com/react-dom@17/umd/react-dom.production.min.js
  http https://unpkg.com/react@17/umd/react.development.js

group Build
  source https://api.nuget.org/v3/index.json
  framework: net6.0
  nuget Fake.Core.Process
  nuget Fake.Core.Target
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.DotNet.Testing.NUnit
  nuget Fake.DotNet.Testing.XUnit2
  nuget Fake.IO.FileSystem
  nuget Fake.Tools.Git
  nuget FSharp.Configuration
  nuget Microsoft.Data.SqlClient
  nuget Microsoft.Data.Tools.MsBuild

// Testing frameworks:
group Test
  source https://api.nuget.org/v3/index.json

  nuget coverlet.collector 6.0.4
  nuget Microsoft.NET.Test.Sdk 17.13.0
  nuget NUnit 4.3.2
  nuget NUnit.Analyzers 4.7.0
  nuget NUnit3TestAdapter 5.0.0

// Other useful components:
//  nuget canopy
//  nuget FsUnit.xUnit
//  nuget xunit.core
//  nuget xunit.abstractions
//  nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
//  nuget xunit.runner.console
//  nuget Selenium.WebDriver
