<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- Here would be runtime values: mail-server, crypted passwords and api-keys, etc. -->
    <add key="RuntimeDBConnectionString" value="server = localhost; database = companyweb; uid = webuser;pwd = p4ssw0rd" />
    <!--- Change to https when certificates are ok! -->
    <add key="WebServer" value="http://*:7050" />
    <add key="WebServerFolder" value="/frontend/dist" />

  </appSettings>
</configuration>
