<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Here would be runtime values: mail-server, crypted passwords and api-keys, etc. In real life, you probably want to encrypt the settings and restrict the access e.g. via sub-repository. -->
    <!-- Connection-string could have MARS setting: MultipleActiveResultSets=False -->
    <add key="RuntimeDBConnectionString" value="Data Source=localhost;Initial Catalog=companyweb;User Id=webuser;Password=p4ssw0rd;TrustServerCertificate=True;Persist Security Info=False;Encrypt=True;Connection Timeout=60;Application Name=WebsitePlayground" />
    <add key="DomainForwarding" value="" />
    <add key="WebServerIp" value="*" />
    <add key="WebServerIpSSL" value="*" />
    <!-- Comma separated list of ports. SSL needs certificate on the server. -->
    <add key="WebServerPorts" value="7050" />
    <add key="WebServerPortsSSL" value="443" />
    <!-- Logging level: debug / warn / error -->
    <add key="LogLevel" value="debug" />
    <add key="WebServerDebug" value="true" />
    <add key="WebServerFolder" value="../../frontend/dist" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
