<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Here would be runtime values: mail-server, crypted passwords and api-keys, etc. -->
    <add key="RuntimeDBConnectionString" value="server = localhost; database = companyweb; uid = webuser;pwd = p4ssw0rd" />
    <add key="WebServerIp" value="*" />
    <add key="WebServerIpSSL" value="*" />
    <!-- Comma separated list of ports. SSL needs certificate on the server. -->
    <add key="WebServerPorts" value="7050" />
    <add key="WebServerPortsSSL" value="443" />
    <add key="WebServerDebug" value="true" />
    <add key="WebServerFolder" value="../../frontend/dist" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>  
</configuration>